[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blessings = "*"
bpython = "*"
certifi = "*"
chardet = "*"
Cycler = "*"
greenlet = "*"
idna = "*"
isort = "*"
matplotlib = "*"
mccabe = "*"
numpy = "*"
pandas = "*"
pendulum = "*"
Pygments = "*"
pyparsing = "*"
python-dateutil = "*"
python-telegram-bot = "*"
pytz = "*"
pytzdata = "*"
requests = "*"
telegram = "*"
tzlocal = "*"
"urllib3" = "*"
urwid = "*"
wcwidth = "*"
future = "*"

[dev-packages]
future = "*"
futures = "*"
pudb = "*"
six = "*"
typing = "*"
black = "*"
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
