[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
pendulum = "*"
python-telegram-bot = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
